<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row-fluid">
      <div class="upsell">
        <small class="muted">
          Moneyback <span class="spacer">//</span>
          Starting from $3 <span class="spacer">//</span>
          Unlimited bandwidth  <span class="spacer">//</span>
          Strong encryption <span class="spacer">//</span>
          No logs <span class="spacer">//</span>
        </small>
        <a href="/users/sign_in" class="btn btn-primary">
          Connect now <i class="icon-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
