<h2 class="title-divider">
    <span> simple </span>
</h2>

<ul class="thumbnails">
  <li class="span3"> <a href="#"><img src="/img/features/feature-1.png" alt="Feature 1" /></a>
    <h3 class="title"><a href="#">Multi <span class="de-em">Platform</span></a></h3>
    <p>Multi platform</p>
  </li>
  <li class="span3"> <a href="#"><img src="/img/features/feature-2.png" alt="Feature 2" /></a>
    <h3 class="title"><a href="#">24/7 <span class="de-em">Support</span></a></h3>
    <p>Support desc</p>
  </li>
  <li class="span3"> <a href="#"><img src="/img/features/feature-3.png" alt="Feature 3" /></a>
    <h3 class="title"><a href="#">Flexible<span class="de-em">Control panel</span></a></h3>
    <p>cp_desc</p>
  </li>
  <li class="span3"> <a href="#"><img src="/img/features/feature-4.png" alt="Feature 4" /></a>
    <h3 class="title"><a href="#">99.9% <span class="de-em">availibility</span></a></h3>
    <p>availibility_desc</p>
  </li>
</ul>

