<!-- FOOTER -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span3 col">
        <div class="block contact-block">
          <!--@todo: replace with company contact details-->
          <h3>Contact us</h3>
          <address>
          <!--<p><abbr title="Phone"><i class="fa-skype"></i></abbr> smartvpn_biz</p>-->
          <p><abbr title="Email"><i class="icon-envelope"></i></abbr> <a href="mailto:ejabberd@gmail.com">ejabberd@gmail.com</a></p>
          </address>
        </div>
      </div>
      <div class="span3 col">
      </div>
        <div class="span3 col">
          <div class="block">
          </div>
        </div>
    </div>
    <div class="row-fluid">
      <div class="subfooter">
        <div class="span6">
          <p>
            &copy; 2013-2019 SmartVPN
          </p>
        </div>
        <div class="span6">
          <ul class="inline pull-right">
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
