<div id="navigation" class="wrapper">
  <div class="navbar  navbar-static-top">
    <!--Header & Branding region-->
    <div class="header">
      <div class="header-inner container">
        <div class="row-fluid">
          <div class="span6">
            <!--branding/logo-->
            <a class="brand" href="/" title="SmartVPN">
            <h1><span>
                Smart</span>VPN<span>.
            </span></h1>
            </a>
            <div class="slogan">Open Source VPN service</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="navbar-inner">

        <!--mobile collapse menu button-->
        <a class="btn btn-navbar pull-left" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> 

        <!--user menu-->
        <ul class="nav user-menu pull-right">
          <li><a href="get_started.html" class="btn btn-large btn-primary">Get started</a></li>
        </ul>

        <!--everything within this div is collapsed on mobile-->
        <div class="nav-collapse collapse">
          <!--main navigation-->
          <ul class="nav" id="main-menu">
            <li class="home-link"><a href="/"><i class="icon-home hidden-phone"></i><span class="visible-phone">Home</span></a></li>
            <li><a href="downloads.html" class="menu-item">Downloads</a></li>
            <li><a href="services.html" class="menu-item">Services</a></li>
            <li><a href="about.html" class="meny-item">About</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>
</div>

