<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135958355-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135958355-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name='yandex-verification' content='4fc9aeffcea87db7' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content="SmartVPN.biz - умный VPN провайдер">
    <meta name="author" content="smartvpn.biz">
    <meta name="keywords" content="VPN, vpn service, vpn server, vpn сервер, firewall, прокси, подключение vpn, организация vpn, vpn интернет, vpn firewall, прокси vpn, anonymous surfing, безопасность, соединение vpn, безопасность в сети, виртуальная частная сеть, vpn windows 2000, vpn linux, виртуальные сети, настройка vpn, vpn windows xp, vpn клиент, спрятать ip, впн сервис, впн, купить vpn, doublevpn, сервис vpn, openvpn, openvpn service, openvpn сервис, double vpn, онлайн vpn сервис">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Flexslider -->
    <link href="css/flexslider.css" rel="stylesheet">

    <!-- Theme style -->
    <link href="css/theme-style.css" rel="stylesheet">

    <!--Your custom colour override-->
    <link href="css/colour-blue.css" id="colour-scheme" rel="stylesheet">

    <!-- Your custom override -->
    <link href="css/custom-style.css" rel="stylesheet">
    <link rel="stylesheet" src="css/popup.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="js/html5.js"></script>
        <![endif]-->

    <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/icons/114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/icons/72x72.png">
    <link rel="apple-touch-icon-precomposed" href="img/icons/default.png">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Rambla|Calligraffitti' rel='stylesheet' type='text/css'>
  </head>

  <body class="page page-index-static">
      {% include header.html %}
      <main>
      <div id="content">
        <div class="container">
          {{ content }}
        </div>
      </div>
    </main>
    {% include content_below.html %}
    {% include footer.html %}
  </body>
</html>
